In [1]:
import pandas as pd 
import os

In [19]:
dataset=pd.read_excel("rawdata.xls")
dataset

,Name,Email Address,Join Time,Leave Time,Time in Session (minutes)
0,191af112 Alex,siripalakiti2000@gmail.com,4:27 AM,5:05 AM,37
1,00038-surekha- VSR& AM DEGREE COLLEGE,chowdary.surekha3@gmail.com,4:00 AM,6:15 AM,134
2,121810310018-swetha-Gitam university,121810310018@gitam.in,4:00 AM,6:20 AM,140
3,16491A04C5-Chellingi Priyanka-QIS College,chellingipriyanka123@gmail.com,5:52 AM,6:37 AM,45
4,168A1A0455-SHAIK SAJID-RISE KRISHNA SAI PRAKAS...,sajidshaik703@gmail.com,4:00 AM,6:08 AM,128
...,...,...,...,...,...
159,Y18ACS511-SIVA SANKAR-BECB,sivasankarmutte@gmail.com,4:02 AM,4:48 AM,45
160,Y18ACS511-SIVA SANKAR-BECB,sivasankarmutte@gmail.com,4:50 AM,6:18 AM,87
161,[Waiting for name],NaN,4:08 AM,4:08 AM,0
162,k.rajesh,NaN,4:01 AM,4:01 AM,0
163,sanskriti,NaN,4:05 AM,4:09 AM,3

In [38]:
change=dataset.copy()
change

,Name,Email Address,Join Time,Leave Time,Time in Session (minutes)
0,191af112 Alex,siripalakiti2000@gmail.com,4:27 AM,5:05 AM,37
1,00038-surekha- VSR& AM DEGREE COLLEGE,chowdary.surekha3@gmail.com,4:00 AM,6:15 AM,134
2,121810310018-swetha-Gitam university,121810310018@gitam.in,4:00 AM,6:20 AM,140
3,16491A04C5-Chellingi Priyanka-QIS College,chellingipriyanka123@gmail.com,5:52 AM,6:37 AM,45
4,168A1A0455-SHAIK SAJID-RISE KRISHNA SAI PRAKAS...,sajidshaik703@gmail.com,4:00 AM,6:08 AM,128
...,...,...,...,...,...
159,Y18ACS511-SIVA SANKAR-BECB,sivasankarmutte@gmail.com,4:02 AM,4:48 AM,45
160,Y18ACS511-SIVA SANKAR-BECB,sivasankarmutte@gmail.com,4:50 AM,6:18 AM,87
161,[Waiting for name],NaN,4:08 AM,4:08 AM,0
162,k.rajesh,NaN,4:01 AM,4:01 AM,0
163,sanskriti,NaN,4:05 AM,4:09 AM,3

In [39]:
change.columns

Index(['Name', 'Email Address', 'Join Time', 'Leave Time',
       'Time in Session (minutes)'],
      dtype='object')

In [40]:
l=['Email Address', 'Join Time','Leave Time']
change=change.drop(columns=l)

In [43]:
change1=change.copy()
change1

,Name,Time in Session (minutes)
0,191af112 Alex,37
1,00038-surekha- VSR& AM DEGREE COLLEGE,134
2,121810310018-swetha-Gitam university,140
3,16491A04C5-Chellingi Priyanka-QIS College,45
4,168A1A0455-SHAIK SAJID-RISE KRISHNA SAI PRAKAS...,128
...,...,...
159,Y18ACS511-SIVA SANKAR-BECB,45
160,Y18ACS511-SIVA SANKAR-BECB,87
161,[Waiting for name],0
162,k.rajesh,0
163,sanskriti,3

In [45]:

len(change1)

164

In [47]:
for i in range(len(change1)):
    x=change1[i]['Name']
    x=x.split('-')[0]
    change1[i]['Name']=x

change1

KeyError: 0

In [54]:
for row in change1.iterrows():
    row[1]=row[1].split('-')[0]

AttributeError: 'Series' object has no attribute 'split'

In [62]:
for i in change['Name']:
    i=i.split('-')[0]

In [64]:
change

,Name,Time in Session (minutes)
0,191af112 Alex,37
1,00038-surekha- VSR& AM DEGREE COLLEGE,134
2,121810310018-swetha-Gitam university,140
3,16491A04C5-Chellingi Priyanka-QIS College,45
4,168A1A0455-SHAIK SAJID-RISE KRISHNA SAI PRAKAS...,128
...,...,...
159,Y18ACS511-SIVA SANKAR-BECB,45
160,Y18ACS511-SIVA SANKAR-BECB,87
161,[Waiting for name],0
162,k.rajesh,0
163,sanskriti,3

In [65]:
# Python program to demonstrate
# writing to CSV


import csv

# field names
fields = ['Name', 'Time', 'number']

# data rows of csv file
rows = [['Nikhil', '180', 'AP19110010511'],
        ['Sanchit', '120', 'AP1911001105'],
        ['Aditya', '133', 'AP1911001105'],
        ['Sagar', '143', 'AP1911001105'],
        ['Prateek', '20', 'AP1911001105'],
        ['Sahil', '102', 'AP1911001105']]

# name of csv file
filename = "boo.csv"

# writing to csv file
with open(filename, 'w') as csvfile:
	# creating a csv writer object
	csvwriter = csv.writer(csvfile)

	# writing the fields
	csvwriter.writerow(fields)

	# writing the data rows
	csvwriter.writerows(rows)